<div class="hhh">
    <div class="row bg-dark">
        <h1>Proyectos realizados</h1>
        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Encriptador</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, mollitia rem voluptatum
                    repellat
                    voluptas provident rerum architecto, officia nobis aliquam odit est obcaecati tempora placeat
                    numquam in
                    exercitationem eum dolorem?</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
                <a target="_blank"
                    href="https://computerhoy.com/noticias/software/que-es-encriptacion-como-encriptar-tu-ordenador-movil-tablet-35047"><img
                        src="../../../assets/encriptador.jpg" alt="" class="img-fluid img-proyecto"></a>
            </div>
        </div>

        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Encriptador</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, mollitia rem voluptatum
                    repellat
                    voluptas provident rerum architecto, officia nobis aliquam odit est obcaecati tempora placeat
                    numquam in
                    exercitationem eum dolorem?</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
                <a target="_blank"
                    href="https://computerhoy.com/noticias/software/que-es-encriptacion-como-encriptar-tu-ordenador-movil-tablet-35047"><img
                        src="../../../assets/encriptador.jpg" alt="" class="img-fluid img-proyecto"></a>
            </div>
        </div>

        <div class="contenedor">
            <div class="col-sm-12 col-md-7 col-lg-7 parte1">
                <h2>Encriptador</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae, mollitia rem voluptatum
                    repellat
                    voluptas provident rerum architecto, officia nobis aliquam odit est obcaecati tempora placeat
                    numquam in
                    exercitationem eum dolorem?</p>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1 offset-lg-1 parte2">
                <a target="_blank"
                    href="https://computerhoy.com/noticias/software/que-es-encriptacion-como-encriptar-tu-ordenador-movil-tablet-35047"><img
                        src="../../../assets/encriptador.jpg" alt="" class="img-fluid img-proyecto"></a>
            </div>
        </div>
    </div>
</div>