<div class="hhh">
    <div class="row bg-dark">
        <h1>Educación</h1>
        <div class="col-lg-12">
            <ul>
                <li>
                    <h2>Estudio1</h2> - <h3>(Years)</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo quo assumenda,
                        accusantium nemo consequatur magni iusto magnam officiis ex harum quas eos, omnis aliquid.
                        Consequuntur labore ab unde temporibus.
                    </p>
                </li>
                <li>
                    <h2>Estudio2</h2> - <h3>(Years)</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo quo assumenda,
                        accusantium nemo consequatur magni iusto magnam officiis ex harum quas eos, omnis aliquid.
                        Consequuntur labore ab unde temporibus.
                    </p>
                </li>
                <li>
                    <h2>Estudio3</h2> - <h3>(Years)</h3>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat explicabo quo assumenda,
                        accusantium nemo consequatur magni iusto magnam officiis ex harum quas eos, omnis aliquid.
                        Consequuntur labore ab unde temporibus.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>