<!--<div class="row" id="about">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yodeco.jpeg" alt="" class="img-fluid rounded">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <h3 class="name">Hector Toyo</h3>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis alias quasi delectus assumenda
                doloribus.
                Porro, quasi nostrum. Culpa saepe rem doloribus iusto, possimus libero, atque itaque, voluptas minima
                dolorem quo?</p>
        </span>
    </div>
</div>-->

<div class="container-fluid hhh">
    <div class="bg-dark jjj">
        <h1>¿Y QUIEN ES HECTOR TOYO?</h1>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, debitis ex natus, officia illo beatae
                    vitae
                    eaque inventore error vero sint est corporis totam hic amet eos modi, alias nesciunt?</p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt necessitatibus odio esse suscipit
                    cum
                    sapiente placeat. Animi quod eveniet pariatur nulla fugit! Nemo totam cumque et? Dignissimos, nam
                    eligendi! Asperiores.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia alias omnis vitae quisquam
                    doloribus quis exercitationem, praesentium fugit in amet, expedita earum sequi iusto sunt est
                    architecto voluptatum. Nisi, facere!</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 ttt">
                <img src="../../../assets/yodeco.jpeg" alt="" class="img-fluid rounded card-img">
            </div>
        </div>
    </div>

</div>